@import 'normalize.css';
@import 'layout';

$primary-color: #ffcc00;
$text-color: #333333;
@mixin title-font {
	font-family: Roboto, sans-serif;
	font-weight: 900;
	line-height: 1;
	margin: 0;
}
@mixin main-font {
	font-family: Raleway, sans-serif;
	font-weight: 500;
	margin: 0;
}

.ba-container {
	width: 1140px;
}
.ba-image {
	max-width: 100%;
	height: auto;
	&--highlighted {
		border: 1px solid $primary-color;
	}
}
.ba-our-team {
	@include main-font;
	font-size: 14px;
	line-height: 1.71;
	color: $text-color;
}

//header part
.ba-header {
	text-align: center;
	text-transform: uppercase;
}
.ba-sub-title {
	font-size: 18px;
	color: #898F8F;
	margin: 90px 0 0;
}
.ba-site-title {
	@include title-font;
	color: $primary-color;
	font-size: 60px;
	margin: 0 0 20px;
}
.ba-separator {
	margin: 40px 0;
	&-wrap {
		overflow: hidden;
		text-align: center;
		&:before, 
		&:after {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 210px;
			height: 1px;
			background-color: $primary-color;
		}
	}
	&__image {
		vertical-align: middle;
		padding: 0 7px;
	}
}
.ba-arrow {
	background: transparent;
	border: none;
	color: $primary-color;
	font-size: 40px;
	position: absolute;
	&--left {
		top: 50%;
		left: 0;
	}
	&--right {
		right: 0;
		top: 50%;
	}
}

//member part
.ba-member__photo {
	border-right: 1px solid $primary-color;
}
.ba-image-wrapper {
	position: relative;
	width: 416px;
	height: 416px;
	padding: 14px;
	margin: 75px auto 65px;
}
.corner-top-left:before,
.corner-top-right:before,
.corner-bottom-left:before,
.corner-bottom-right:before {
	content: '';
	position: absolute;
	width: 100px;
	height: 1px;
	background-color: $primary-color;
}
.corner-top-left:after,
.corner-top-right:after,
.corner-bottom-left:after,
.corner-bottom-right:after {
	content: '';
	position: absolute;
	width: 1px;
	height: 100px;
	background-color: $primary-color;
}
.corner-top-left:before,
.corner-top-left:after {
	top: 0;
	left: 0;
}
.corner-top-right:before,
.corner-top-right:after {
	top: 0;
	right: 0;
}
.corner-bottom-left:before,
.corner-bottom-left:after {
	left: 0;
	bottom: 0;
}
.corner-bottom-right:before,
.corner-bottom-right:after {
	right: 0;
	bottom: 0;
}
.ba-member {
	text-align: center;
	position: relative;
	&__name {
		@include title-font;
		color: #666;
		font-size: 36px;
		letter-spacing: .02em;
		margin: 95px 0 30px;
	}
	&__position {
		@include main-font;
		font-size: 24px;
		font-weight: 400;
		color: #666;
		margin: 0 0 30px;
		&:before {
			content: '';
			display: block;
			width: 100px;
			height: 1px;
			margin: 0 auto 25px;
			background-color: $primary-color;
		}
	}
}
.ba-socials {
	list-style-type: none;
	font-size: 0;
	padding: 0;
	margin: 30px 0;
	&__item {
		display: inline-block;
		width: 30px;
		height: 30px;
		border: 2px solid #ccc;
		border-radius: 50%;
	}
	&__link {
		display: block;
		font-size: 14px;
		color: #ccc;
	}
	&__icon {
		vertical-align: middle;
	}
}
.ba-socials__item + .ba-socials__item {
	margin-left: 5px;
}
.ba-text-wrap {
	width: 420px;
	margin: 0 auto 20px;
}
.ba-button {
	width: 120px;
	height: 24px;
	border: 1px solid $primary-color;
	margin: 25px auto;
	transition-property: box-shadow, border;
	transition: .2s ease-in;
	&:hover {
		border: 2px solid $primary-color;
		box-shadow: 0 0 7px rgba(0,0,0,.4);
	}
	&-wrap {
		margin: auto;
		&:before {
		content: url(../images/boxes.png);
		}
	}
}
.ba-view-more {
	display: block;
	font-family: 'Open Sans', sans-serif;
	color: #666;
	text-transform: uppercase;
	text-decoration: none;
}